### Panamanian Namelist
### common/name_lists/panamanian.txt
panamanian = {
	category = "Panamanian"
	randomized = yes
	alias = "Panamanian"

	ship_names = {
		generic = {
			{{{ ship_generic }}}
		}

		corvette = {
			{{{ ship_corvettes }}}
		}

		constructor = {
			{{{ ship_constructors }}}
		}

		colonizer = {
			{{{ ship_colony }}}
		}

		science = {
			{{{ ship_science }}}
		}

		destroyer = {
			{{{ ship_destroyers }}}
		}

		cruiser = {
			{{{ ship_cruiser }}}
		}

		battleship = {
			{{{ ship_battleship }}}
		}

		titan = {
			{{{ ship_titan }}}
		}

		colossus {
			{{{ ship_colossus }}}
		}

		transport = {
			{{{ transport }}}
		}

		military_station_small = {
			{{{ fort }}}
		}

		ion_cannon = {
			{{{ ion_cannon }}}
		}
	}

	fleet_names = {
		random_names = {
			{{{ fleet }}}
		}
		sequential_name = "%O% Constelación"
	}

	army_names = {
		machine_defense = {
			sequential_name = "%O% Contingente Defensivo"
		}

		machine_assault_1 = {
			sequential_name = "%O% Falange"
		}

		machine_assault_2 = {
			sequential_name = "%O% Falange"
		}

		machine_assault_3 = {
			sequential_name = "%O% Falange"
		}

		defense_army = {
			sequential_name = "%O% Guarnición"
		}

		assault_army = {
			sequential_name = "%O% División de Asalto"
		}

		slave_army = {
			sequential_name = "%O% Servidumbre"
		}
		
		undead_army = {
			sequential_name = "%O% Contingente Zombie"
		}

		clone_army = {
			sequential_name = "%O% Division Clonada"
		}

		robotic_army = {
			sequential_name = "%O% División Autónoma"
		}

		robotic_defense_army = {
			sequential_name = "%O% Matriz Autónoma "
		}

		psionic_army = {
			sequential_name = "Los Escogidos %R%"
		}
		
		xenomorph_army = {
			sequential_name = "%O% División Biológica"
		}
		
		gene_warrior_army = {
			sequential_name = "%O% Machos de Monte"
		}

		occupation_army = {
			sequential_name = "%O% Contingente de Ocupación"
		}

		robotic_occupation_army = {
			sequential_name = "%O% División Sentinela"
		}

		primitive_army = {
			sequential_name = "Ejército Primitivo %C%"
		}
		industrial_army = {
			sequential_name = "Ejército Industrial %C%"
		}
		postatomic_army = {
			sequential_name = "Ejército Atómico %C%"
		}
	}

	planet_names = {

		generic = {
			names = {
				{{{ planet_generic }}}
			}
		}

		pc_desert = {
			names = {
				{{{ planet_desert }}}
			}
		}

		pc_arid = {
			names = {
				{{{ planet_arid }}}
			}
		}

		pc_savannah = {
			names = {
				{{{ planet_savannah }}}
			}
		}

		pc_tropical = {
			names = {
				{{{ planet_tropical }}}
			}
		}

		pc_continental = {
			names = {
				{{{ planet_continental }}}
			}
		}

		pc_gaia = {
			names = {
				{{{ planet_gaia }}}
			}
		}

		pc_ocean = {
			names = {
				{{{ planet_ocean }}}
			}
		}

		pc_tundra = {
			names = {
				{{{ planet_tundra }}}
			}
		}

		pc_arctic = {
			names = {
				{{{ planet_arctic }}}
			}
		}

		pc_alpine = {
			names = {
				{{{ planet_alpine }}}
			}
		}

		pc_tomb = {
			names = {
				{{{ planet_tomb }}}
			}
		}

		pc_habitat = {
			names = {
				{{{ planet_habitat }}}
			}
		}
	}


	### CHARACTERS

	character_names = {


		names1 = {
			weight = 80
			first_names_male = {
				{{{ names_male }}}
			}
			first_names_female = {
				{{{ names_female }}}
			}
			second_names = {
				{{{ surnames }}}
			}
			regnal_first_names_male = {
				{{{ regnal_male }}}
			}
			regnal_first_names_female = {
				{{{ regnal_female }}}
			}
			regnal_second_names = {
				{{{ regnal_surnames }}}
			}
		}

	}
}
