### Panamanian Namelist
### common/name_lists/Panamanian.txt
Panamanian = {
	randomized = yes

	ship_names = {
		generic = {
			{{{ ship_generic }}}
		}

		corvette = {
			{{{ ship_corvettes }}}
		}

		constructor = {
			{{{ ship_constructors }}}
		}

		colonizer = {
			{{{ ship_colony }}}
		}

		science = {
			{{{ ship_science }}}
		}

		destroyer = {
			{{{ ship_destroyers }}}
		}

		cruiser = {
			{{{ ship_cruiser }}}
		}

		battleship = {
			{{{ ship_battleship }}}
		}

		orbital_station = { }
		mining_station = { }
		research_station = { }
		wormhole_station = { }
		terraform_station = { }
		observation_station = { }
		outpost_station = {
			{{{ outpost }}}
		}

		transport = {
			sequential_name = "%O% Invasor"
		}

		military_station_small = {
			{{{ fort }}}
		}

		military_station_medium = {
			{{{ fort }}}
		}

		military_station_large = {
			{{{ fort }}}
		}
	}

	fleet_names = {
		sequential_name = "%O% Constelación"
	}

	army_names = {

		defense_army = {
			sequential_name = "%O% Guarnición"
		}

		assault_army = {
			sequential_name = "%O% División de Asalto"
		}

		slave_army = {
			sequential_name = "%O% Servidumbre"
		}

		clone_army = {
			sequential_name = "%O% Division Clonada"
		}

		robotic_army = {
			sequential_name = "%O% División Autónoma"
		}

		android_army = {
			sequential_name = "%O% División Sintética"
		}

		psionic_army = {
			sequential_name = "%O% División Psíquica"
		}

		xenomorph_army = {
			sequential_name = "%O% División Biológica"
		}

		gene_warrior_army = {
			sequential_name = "%O% División Aumentada"
		}
	}

	planet_names = {

		generic = {
			names = {
				{{{ planet_generic }}}
			}
		}

		pc_desert = {
			names = {
				{{{ planet_desert }}}
			}
		}

		pc_arid = {
			names = {
				{{{ planet_arid }}}
			}
		}

		pc_tropical = {
			names = {
				{{{ planet_tropical }}}
			}
		}

		pc_continental = {
			names = {
				{{{ planet_continental }}}
			}
		}

		pc_gaia = {
			names = {
				{{{ planet_gaia }}}
			}
		}

		pc_ocean = {
			names = {
				{{{ planet_ocean }}}
			}
		}

		pc_tundra = {
			names = {
				{{{ planet_tundra }}}
			}
		}

		pc_arctic = {
			names = {
				{{{ planet_arctic }}}
			}
		}

		pc_tomb = {
			names = {
				{{{ planet_tomb }}}
			}
		}
	}


	### CHARACTERS

	character_names = {


		names1 = {
			weight = 80
			first_names_male = {
				{{{ names_male }}}
			}
			first_names_female = {
				{{{ names_female }}}
			}
			second_names = {
				{{{ surnames }}}
			}
			regnal_first_names_male = {
				Santiago Ricardo Marcelo Javier Ernesto Gerardo Guillermo
			}
			regnal_first_names_female = {
				Alicia Antonia Carla Carmen Catalina Dolores Martina Julieta Antonella Renata
			}
			regnal_second_names = {
				Fernandez Sanchez Lopez Martin Perez Gonzalez Alvarez Gomez Diaz
			}
		}

		# Default Spanish Names for the human1 namelist
		names2 = {
			weight = 20
			first_names_male = {
				Diego Luis Pedro Joaquin José Emilio Eduardo Alejandro Carlos Fernando Francisco Julio "José Antonio" "José Manuel" Juan
				"José María" Ignacio Manuel Pablo Miguel Ramón Raimundo Santiago Ricardo Marcelo Javier Gaspar Alfonso Lorenzo Enrique
				Ernesto Gerardo Guillermo Jesús Salvadore Sergio Roberto Esteban
			}
			first_names_female = {
				Hortensia Isabel Valentina Alejandra Alicia Antonia Carla Carmen Catalina Dolores Estefania Eva Fernanda Florencia
				Gabriela Grizelda Maria Lorena Magdalena Mercedes Miriam Paulina Sofia Yolanda Camila Luciana Valeria Mariana Daniela
				Martina Julieta Antonella Renata Agustina Constanza Fabiana
			}
			second_names = {
				Garcia Martinez Rodriguez Fernandez Sanchez Lopez Martin Perez Gonzalez Alvarez Gomez Diaz Dominguez Hernandez
				Ramirez Mendez Perez Vasquez Ruiz Aguera Alonso Batista Esguerra Flores "de la Guardia" "de la Cruz" "de la Vega"
				"de Vargas" Ibanez Moralez Riveros Rosario Velazco Torres Quesada Saldana Salazar Ortega Ortiz Solano Romero
			}
			regnal_first_names_male = {
				Santiago Ricardo Marcelo Javier Ernesto Gerardo Guillermo
			}
			regnal_first_names_female = {
				Alicia Antonia Carla Carmen Catalina Dolores Martina Julieta Antonella Renata
			}
			regnal_second_names = {
				Fernandez Sanchez Lopez Martin Perez Gonzalez Alvarez Gomez Diaz
			}
		}

	}
}
