panamanian = {
	name_list="panamanian"
	ship_prefix="FDP"
	species_name="Panamanian"
	species_plural="Panamanians"
	species_class="MAM"
	species_adjective="Panamanian"
	species_bio=""
	portrait="mam7"
	name="República de Panamá"
	adjective="Panamanian"
	government="direct_democracy"
	ftl=warp
	weapon="tech_missiles_1"
	planet_name="Panamá"
	planet_class="pc_tropical"
	system_name="Balboa"
	initializer=""
	graphical_culture="mammalian_01"
	city_graphical_culture="mammalian_01"
	empire_flag={
		icon={
			category="human"
			file="flag_human_12.dds"
		}
		background={
			category="backgrounds"
			file="diagonal.dds"
		}
		colors={
			"red"
			"dark_blue"
			"null"
			"null"
		}
	}
	ruler={
		gender=male
		name="Juan Carlos Varela"
		portrait="mam7"
		texture=3
		hair=0
		clothes=4
		ruler_title="Don"
		ruler_title_female="Doña"
	}
	spawn_enabled=yes
	ethic="ethic_xenophile"
	ethic="ethic_fanatic_materialist"
	trait="trait_intelligent"
}
