panamanian = {
	name="República de Panamá"
	adjective="Panamanian"
	ignore_portrait_duplication=no
	spawn_enabled=yes
	spawn_as_fallen=yes

	ship_prefix="FDP"

	species = {
		portrait="mam7"
		name="Panamanian"
		plural="Panamanians"
		class="MAM"
		adjective="Panamanian"
		name_list="panamanian"
		trait="trait_communal"
		trait="trait_sedentary"
		trait="trait_thrifty"
	}

	ethic="ethic_xenophile"
	ethic="ethic_fanatic_materialist"
	authority = "auth_democratic"
	government=gov_direct_democracy
	civics={
		"civic_free_haven"
		"civic_shadow_council"
	}

	planet_name="Panamá"
	planet_class="pc_tropical"
	system_name="Balboa"
	initializer=""

	graphical_culture="mammalian_01"
	city_graphical_culture="mammalian_01"

	empire_flag={
		icon={
			category="panamanian"
			file="acp.dds"
		}
		background={
			category="backgrounds"
			file="diagonal.dds"
		}
		colors={
			"red"
			"dark_blue"
			"null"
			"null"
		}
	}
	ruler={
		gender= male
		name = "Juan Carlos Varela"
		portrait = "mam7"
		texture = 3
		hair = 0
		clothes = 4
		ruler_title = "Don"
		ruler_title_female = "Doña"
	}
}

panamanian2 ={
	name="Autoridad del Canal de Panamá"
	adjective="Panamanian"
	spawn_enabled=yes
	spawn_as_fallen=yes
	ignore_portrait_duplication=no

	ship_prefix="ACP"

	species = {
		portrait="mam7"
		name="Panamanian"
		plural="Panamanians"
		class="MAM"
		adjective="Panamanian"
		name_list="panamanian"
		trait="trait_communal"
		trait="trait_sedentary"
		trait="trait_thrifty"
	}

	room="ethic_authoritarian_room"
	ethic="ethic_fanatic_authoritarian"
	ethic="ethic_spiritualist"
	authority="auth_imperial"
	government="gov_theocratic_monarchy"
	civics={
		"civic_aristocratic_elite"
		"civic_functional_architecture"
	}

	planet_name="Corozal"
	planet_class="pc_continental"
	system_name="Zona del Canal"
	initializer=""

	graphical_culture="mammalian_01"
	city_graphical_culture="mammalian_01"
	empire_flag={
		icon={
			category="panamanian"
			file="acp.dds"
		}
		background={
			category="backgrounds"
			file="v.dds"
		}
		colors={
			"red"
			"black"
			"null"
			"null"
		}
	}
	ruler={
		gender=male
		name="Jorge Quijano"
		portrait="mam7"
		texture=0
		hair=0
		clothes=4
		ruler_title="Administrator"
		ruler_title_female="Administrator"
	}
}
